* {
    box-sizing: border-box;
}

html {
    width:100%;
    scroll-behavior: smooth;
}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1f;
    background-color: rgb(243,237,237);
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(243,237,237,0.9);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    

}

#header ul {
    list-style: none;
    padding-right: 15px;;
}

#header ul li {
    display: inline;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

#header ul a {
    text-decoration: none;
    color: inherit;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid red;*/
    overflow: hidden;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

.title h1 {
    font-size: 7rem;
    margin-top: 100px;
    margin-bottom: 0px;
    animation: h1 1600ms ease-in;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}

.title h2 {
    font-size: 3rem;
    animation: h2 1000ms ease-in;
    margin-left: 50%;
}

@keyframes h1{
    0% {
        /*letter-spacing:  0.5em;*/
        color: #1d1d1f;
        opacity: 0;
        color: rgb(219, 144, 5);
    }
    100% {
        letter-spacing: initial;
        opacity: 1;
    }
}

@keyframes h2 {
    0% {
        /*letter-spacing:  0.5em;*/
        opacity: 0.8;
        color: purple;
    }
    100% {
        letter-spacing: initial;
        opacity: 0;
    }
}



#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
 
}

#skills img {
    height: 75px;
    width: 75px;
    padding: 5px;
}

.orange {
    color: rgb(219, 144, 5);
}

.purple {
    color: purple;
}


/* ==================================== */


#projectResumeContainer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-top: dashed 1px purple;
    visibility: hidden;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}




#projectResumeContainer h3  {
    font-size: 3rem;
}


#projectLink a {
    color: #d45223;
    text-decoration: none;
}



#resumeLink {
    color: #f0a500
}

/* =============================== */


#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    background-color: rgba(212,82,35,0.7);
    padding-top: 20px   ;
}

.projectCard {
    min-width: 300px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 2%;
    margin: 10px;
    background-color: white;
    text-align: center;
}

.projectCard img {
    max-width: 300px;
    max-height: 300px;
}

.projectCard:hover {
    transform: scale(1.04);
    transition: 0.3s;
}

#projectLink a:hover {
    color: #7aa895;
    transition: 0.3s;
}




/* ============================ */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0,0.75);
    margin-top: 10px;
    border-top: 4px solid rgb(219, 144, 5);
}

.map {
    margin: 15px;;
    opacity: 0.9;
    border: 3px solid rgb(219, 144, 5);
}

.socialMedia {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(219, 144, 5);
}

.socialMedia img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

/* ============================== */


@media only screen and (max-width: 900px) {
    #header {
        width: 100%;
        position: fixed;
        background-color: rgba(243,237,237,0.9);
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    .title h1 {
        font-size: 3rem;
        margin-top: 100px;
        margin-bottom: 0px;
        animation: h1 1600ms ease-in;
    }
    
    .title h2 {
        font-size: 2rem;
        animation: h2 1000ms ease-in;
        margin-left: 50%;
    }
    
    #skills {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        visibility: hidden;
    }
    
    #projectResumeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: dashed 1px purple;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    #resumeLink h3{
        display: none;
    }

    #projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 0px;
        background-color: rgba(212,82,35,0.7);
        padding-top: 45px;
        margin-top: 120px;
    }

    .header ul li {
        display: inline;
        font-size: 0.8rem;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0,0.75);
        margin-top: 10px;
        border-top: 4px solid rgb(219, 144, 5);
    }

    .map iframe {
        max-width:fit-content;
    }

    .socialMedia img {
        height: 50px;
        width: 50px;
        padding: 10px;
    }
}
