* {
    box-sizing: content-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1f;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid red;*/
    overflow: hidden;
    margin-bottom: 20px;
}

.title h1 {

    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 0px;
    animation: h1 500ms ease-in;
}

.title h2 {
    font-size: 2rem;
    animation: h2 800ms ease-in;
    margin-left: 50%;
}

@keyframes h1{
    0% {
        letter-spacing:  0.5em;
        color: #1d1d1f;
    }
    100% {
        letter-spacing: initial;
        color: orange;
    }
}

@keyframes h2 {
    0% {
        letter-spacing:  0.5em;
    }
    100% {
        letter-spacing: initial;
        color: purple;
    }
}



#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: hidden;
 
}

#skills img {
    height: 75px;
    width: 75px;
    padding: 5px;
}

.orange {
    color: rgb(219, 144, 5);
}

.purple {
    color: purple;
}





