* {
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1f;
   
    background-color: rgb(243,237,237);
}

.header {
    width: 100%;
    position: fixed;
    background-color: rgba(243,237,237,0.9);
    z-index: 1;
    display: flex;
    justify-content: flex-end;

}

.header ul {
    list-style: none;
    padding-right: 15px;;
}

.header ul li {
    display: inline;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid red;*/
    overflow: hidden;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

.title h1 {
    font-size: 7rem;
    margin-top: 100px;
    margin-bottom: 0px;
    animation: h1 1600ms ease-in;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}

.title h2 {
    font-size: 3rem;
    animation: h2 1000ms ease-in;
    margin-left: 50%;
}

@keyframes h1{
    0% {
        /*letter-spacing:  0.5em;*/
        color: #1d1d1f;
        opacity: 0;
        color: rgb(219, 144, 5);
    }
    100% {
        letter-spacing: initial;
        opacity: 1;
    }
}

@keyframes h2 {
    0% {
        /*letter-spacing:  0.5em;*/
        opacity: 0.8;
        color: purple;
    }
    100% {
        letter-spacing: initial;
        opacity: 0;
    }
}



#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: hidden;
 
}

#skills img {
    height: 75px;
    width: 75px;
    padding: 5px;
}

.orange {
    color: rgb(219, 144, 5);
}

.purple {
    color: purple;
}

/* ==================================== */


#projectResumeContainer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-top: dashed 1px purple;
    visibility: hidden;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}




#projectResumeContainer h3  {
    font-size: 3rem;
}


#projectLink a {
    color: #d45223;
    text-decoration: none;
}



#resumeLink {
    color: #f0a500
}

/* =============================== */

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#projectLink a:hover {
    color: #7aa895;
    transition: 0.3s;
}


/* ============================== */

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 150px;
    background-color: rgba(212,82,35,0.7);
    padding-top: 20px   ;
}

.projectCard {
    min-width: 300px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 2%;
    margin: 10px;
    background-color: white;
    text-align: center;
}

.projectCard img {
    max-width: 300px;
    max-height: 300px;
}

.projectCard:hover {
    transform: scale(1.04);
    transition: 0.3s;
}


@media only screen and (max-width: 800px) {
    .header {
        width: 100%;
        position: fixed;
        background-color: rgba(243,237,237,0.9);
        z-index: 1;
        display: flex;
        justify-content: center;        

    }
}

.title h1 {
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 0px;
    animation: h1 1600ms ease-in;
}

.title h2 {
    font-size: 2rem;
    animation: h2 1000ms ease-in;
    margin-left: 50%;
}

#skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

#projectResumeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: dashed 1px purple;
    visibility: hidden;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#resumeLink h3{
    visibility: hidden;
}