* {
    box-sizing: content-box;
    /*border: 1px solid red; */
}


body {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.bodyContainer {
}


.bannerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}


.statementContainer {
    width: auto;
    display: flex;
    justify-content: center;
    border: solid 1px red;
    text-align: center;
}

.statementContainer h1 {
    color: #253A47;
}


.infoContainer {
    width: auto;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    border: 2px solid red;
}

.infoItem {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid black;
}


























.bannerTablet {
    display: none;
}

.bannerMobile {
    display: none;
}

/* Tablet screen size */
@media only screen and (max-width: 1023px) {
    .bannerDesktop {
        display: none;
    }
    .bannerTablet {
        display: block;
    }
    
}



/* Mobile screen size */

@media only screen and (max-width: 828px) {
    .bannerDesktop {
        display: none;
    }
    .bannerTablet {
        display: none;
    }
    .bannerMobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .infoContainer {
        width: auto;
        display: block;
        justify-content: center;
    }

    .infoItem {
        width: auto;
        text-align: center;
    }
}
