* {
    box-sizing: content-box;
    /*border: 1px solid red; */
}
body {
    background-color: #e7e6e1;
    font-family: Oswald;
}
header {
    height: 130px;
    background-color: #314e52;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: #f68b4d solid 25px;
}

#left-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

#nav-list ul li {
    display: inline;
    list-style: none;
    padding: 5px;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fbimg {
    height: 28px;
    width: 35px;
}

#instimg {
    height: 30px;
    width: 35px;
}

#mailimg {
    height: 60px;
    width: 50px;
}




/* ===========BANNER================*/

.bannerContainer {
    display: flex;
    justify-content: center;
    
}

.banner img {
    width: 100%;
    max-height: 700px;  
}

.statement {
    color: #314e52;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    
}


/*=============Info Cards =============*/

.threeInfo {
    display: flex;
    justify-content: space-around;
    background-color: #314e52;

}


.infoCard {
    border: 1px solid transparent;
    border-radius: 2%;
    margin: 20px;
    max-width: 200px;
    background-color: #f7f6e7;

}




.infoCard img {
    max-height: 200px;
    max-width: 200px;
    opacity: 0.8;
    background-color: black;
}

#cali {
    width: 150px;
    height: 250px;
}