* {
    box-sizing: content-box;
    /*border: 1px solid red; */
}
body {
    max-width: 1400px;
    margin: auto;
    background-color: #e7e6e1;
    font-family: Oswald;
}
header {
    height: 130px;
    background-color: #314e52;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: #f68b4d solid 25px;
}

#left-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

#nav-list ul li {
    display: inline;
    list-style: none;
    padding: 5px;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fbimg {
    height: 28px;
    width: 35px;
}

#instimg {
    height: 30px;
    width: 35px;
}

#mailimg {
    height: 60px;
    width: 50px;
}




/* ===========BANNER================*/

.bannerContainer {
    display: flex;
    justify-content: center;
    
}

.banner img {
    width: 100%;
    max-height: 700px;  
}

.statement {
    color: #314e52;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    
}


/*=============Info Cards =============*/

.threeInfo {
    display: flex;
    justify-content: space-around;
    background-color: #314e52;
    border-top: 10px solid #f68b4d;

}


.infoCard {
    
    margin: 20px;
    max-width: 300px;
    background-color: #f7f6e7;
    text-align: center;
}

.infoCard ul {
    list-style: none;
}



.infoCard img {
    max-height: 300px;
    max-width: 300px;
    opacity: 0.9;
    background-color: black;
}


/*==================Bottom Banner============*/


.bottonBanner {
    display: flex;
    justify-content: space-between;
}

.bottonBanner {
  background-image: url("images/french-bulldog-4713013_1920.jpg");
  background-position: 50% 50%;
}



#bottomRight {
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #314e52;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px ;

}

#bottomRight ul li {
    list-style: none;
    display: inline;
    color: #f68b4d;
    padding: 5px;
}