* {
    box-sizing: content-box;
    /*border: 1px solid red; */
}


body {
    width: 100%;
    background-color: #f6f5f5;
    display: flex;
    justify-content: center;
}

.bodyContainer {
    position: absolute;
    top: 0px;
    left: 0px;
}


.bannerContainer {
    width: 100%;
}

.bannerContainer img {
    border: 1px transparent #1687a7;
    border-radius: 1%;
}


.statementContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.statementContainer h1 {
    color: #253A47;
}

.statementContainer .social {
    margin-right: 100px;
}

.statementContainer img {
    width: 35px;
    height: 35px;
}


.infoContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1%;
    background-color: #1687a7;
    
}

.infoItem {
    min-width: 200px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 1%;
  
    margin: 10px;
    background-color: rgba(246,245,245,0.75);
 
}

#groomPrice, #contact {
    text-align: center;
}



























.bannerTablet {
    display: none;
}

.bannerMobile {
    display: none;
}

.bannerMobileBack {
    display: none;
}

/* Tablet screen size */
@media only screen and (max-width: 1023px) {
    .bannerDesktop {
        display: none;
    }
    .bannerTablet {
        display: block;
    }
    
}



/* Mobile screen size */

@media only screen and (max-width: 828px) {
    .bannerDesktop {
        display: none;
    }
    .bannerTablet {
        display: none;
    }
    .bannerMobile {
        display:block;
        width: 100%;
        height: auto;
        z-index: 0;
    }

    .bannerMobileBack {
        position:absolute;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .statementContainer h1 {
        display: none;
    }
    .statementContainer .social {
        margin-right: -0px;
    }

    .infoContainer {
        width: auto;
        display: block;
        justify-content: center;
        background-image: url("groom.png");
        background-size: cover;
    }

    .infoItem {
        width: auto;
      
    }
}
