* {
    box-sizing: content-box;
    /*border: 1px solid red; */
}


html {
    width: 100%;
}


body {
    max-width: 1400px;
    margin: auto;
    background-color: #e7e6e1;
    font-family: Oswald;
}
header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 130px;
    background-color: #314e52;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: #f68b4d solid 25px;
}

#left-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

#nav-list ul li {
    display: inline;
    list-style: none;
    padding: 5px;
    text-decoration: none;
}

#nav-list a {

    text-decoration: none;
    color: white;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fbimg {
    height: 28px;
    width: 35px;
}

#instimg {
    height: 30px;
    width: 35px;
}

#mailimg {
    height: 60px;
    width: 50px;
}




/* ===========BANNER================*/

.bannerContainer {
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    
}

.banner img {
    width: 100%;
    max-height: 700px;  
}

.statement {
    position: relative;
    top: 130px;
    color: #314e52;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    
}


/*=============Info Cards =============*/

.threeInfo {
    position: relative;
    top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #314e52;
    border-top: 10px solid #f68b4d;

}


.infoCard {
    width: 100%;
    
    margin: 20px;
    max-width: 300px;
    background-color: #f7f6e7;
    text-align: center;
}

.infoCard ul {
    list-style: none;
}



.infoCard img {
    width:100%;
    max-height: 300px;
    max-width: 300px;
    opacity: 0.9;
    background-color: black;
}


/*==================Bottom Banner============*/


.bottonBanner {
    position: relative;
    top: 130px;
    display: flex;
    justify-content: space-between;
}

.bottonBanner {
  background-image: url("images/french-bulldog-4713013_1920.jpg");
  background-position: 50% 50%;
}



#bottomRight {
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #314e52;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px ;

}


#bottomLeft  {
    display: flex;
    justify-content: center;
}

#bottomLeft a {
    margin: 20px;
    font-family: Oswald;
    color: white;
    text-decoration: none;
}

/* Services.html ====================================*/

.serviceInfo {
    position: relative;
    top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #314e52;
    border-top: 10px solid #f68b4d;

}

.serviceCard {
    position: relative;
    top: 20px;
    color: black;
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
    margin: 10px;
    border: 1px solid rgb(133, 131, 131);
    border-radius: 15px;
}



@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
      
    }

   header {
       padding-bottom: 10px;
   }

   #left-header {
       display: flex;
       justify-content: center;
   }



   #right-header {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

    .threeInfo {
        display:flex;
        flex-wrap: wrap;
        background-color: #314e52;
        border-top: 10px solid #f68b4d;
    
    }

    .bottonBanner {
        position: relative;
        top: 180px;
        display: flex;
        flex-direction: column-reverse;
    }

    .serviceInfo {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #314e52;
        border-top: 10px solid #f68b4d;
        overflow: scroll;
    
    }
    
    .serviceCard {
        color: black;
        background-color: rgba(255,255,255,0.9);
        padding: 5px;
        margin: 5px;
        border: 1px solid rgb(133, 131, 131);
        border-radius: 15px;
    }

}