* {
    box-sizing: content-box;
    /*border: 1px solid red; */
}


body {
    width: 100%;

    display: flex;
    justify-content: center;
}

.bodyContainer {
}


.bannerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}


.statementContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid red;
}

.statementContainer h1 {
    color: #253A47;
}

.statementContainer .social {
    float: left;
}

.statementContainer img {
    width: 35px;
    height: 35px;
}


.infoContainer {
    width: 100%;
    display: inline-flex;
    justify-content: center;

    background-color: #1687a7;
}

.infoItem {
    min-width: 200px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    background-color: #d3e0ea;
 
}



























.bannerTablet {
    display: none;
}

.bannerMobile {
    display: none;
}

/* Tablet screen size */
@media only screen and (max-width: 1023px) {
    .bannerDesktop {
        display: none;
    }
    .bannerTablet {
        display: block;
    }
    
}



/* Mobile screen size */

@media only screen and (max-width: 828px) {
    .bannerDesktop {
        display: none;
    }
    .bannerTablet {
        display: none;
    }
    .bannerMobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .statementContainer h1 {
        font-size: small;
    }

    .infoContainer {
        width: auto;
        display: block;
        justify-content: center;
    }

    .infoItem {
        width: auto;
        text-align: center;
    }
}
